<!--  FOOTER STARTS -->

<div class="footer-area nopd" id="contact">
    <div class="container">
        <div class="footer-content">
            <div class="row">

                <div class="col-md-4">
                    <div class="footer-widget-img row">
                        <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/images/logos/openmama_transparent_black.png" alt="OpenMAMA Logo" height="60"></a>
                    </div>
                    <div class="footer-widget-img row">
                        <a href="{{ site.baseurl }}/linux_foundation.html"><img src="{{ site.baseurl }}/images/logos/linuxfoundationblue.png" alt="Linux Foundation Logo" height="60"></a>
                    </div>
                </div> <!-- col -->

                <div class="col-md-2">
                    <div class="footer-widget">
                        <ul class="footer-list">
                            <li class="barelist"><a href="{{ site.baseurl }}/index.html">Home</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/index.html#features">Features</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/openmama_submission_process.html">Contribute</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/legal_and_branding.html">Legal</a></li>
                        </ul>
                    </div>
                </div> <!-- col -->

                <div class="col-md-2">
                    <div class="footer-widget">
                        <ul class="footer-list" class="barelist">
                            <li class="barelist"><a href="{{ site.baseurl }}/quickstart.html">Get Started</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/about.html">About</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/linux_foundation.html">Linux Foundation</a></li>
                            <li class="barelist"><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div> <!-- col -->

                <div class="col-md-4">
                    <div class="footer-widget">
                        <ul class="footer-list">
                            <li class="barelist">Come find us on:</li>
                        </ul>
                        <div class="social">
                            <div class="social-icon">
                                <a href="https://github.com/OpenMAMA/OpenMAMA"><i class="fab fa-github"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href="https://gitter.im/OpenMAMA/OpenMAMA"><i class="fab fa-gitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href="https://cloudsmith.io/~openmama/repos/openmama/setup"><i class="fab fa-cloudsmith"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href="https://www.facebook.com/OpenMAMAProject"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href="https://twitter.com/openmamaproject"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="social-icon">
                                <a href="https://www.linkedin.com/groups/4196465/"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>

                    </div>
                </div> <!-- col -->

            </div> <!-- row -->
            <div class="up-icon">
                <i class="fas fa-angle-double-up fa-lg"></i>
            </div>
        </div> <!-- Footer-content -->
        <div class="footer-text text-center">
            <p>© 2020 OpenMAMA, A Linux Foundation Collaborative Project. All Rights Reserved.
                <br>Linux Foundation and OpenMAMA are registered trademarks of The Linux Foundation.
                <br>Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark">trademark</a> of Linus Torvalds.
            </p>
        </div>
    </div> <!-- Container -->
</div>
<!--  FOOTER ENDS -->