<!-- HEADER AREA STARTS -->

<div class="header-area" id="home">

    <header class="site-header is-sticky">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg mainnav" id="mainnav">
            <div class="container">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img class="logo logo-dark" alt="logo" src="{{ site.baseurl }}/images/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">

                    <ul class="navbar-nav navbar-nav-custom">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/contribute.html">Contribute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/documentation.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site.baseurl }}/about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-menu menu-btn-1 btn-custom" href="{{ site.baseurl }}/quickstart.html">Get started</a>
                        </li>
                    </ul> <!-- navbar -->

                </div>
            </div> <!-- Container -->
        </nav>
        <!-- End Navbar -->
    </header>
</div>

<!--   HEADER AREA ENDS -->