  <div class="tab code-tab">
	{% assign i = 0 %}
	{% for tabname in include.tabs %}
		{% if include.headings[i] %}
			{% assign tabtitle = include.headings[i] %}
		{% else %}
		    {% assign tabtitle = tabname | capitalize %}
		{% endif %}
		<button class="tablinks tablinks-{{ include.id }}" onclick="openTab_{{ include.id }}(event, '{{tabname}}-{{ include.id }}')" id="defaultOpen-{{ include.id }}">{{tabtitle}}</button>
		{% assign i = i | plus:1 %}
	{% endfor %}
  </div>

  {% for tabname in include.tabs %}
  <div id='{{tabname}}-{{ include.id }}' class="tabcontent tabcontent-{{ include.id }}">
	{{ include[tabname] }}
  </div>
  {% endfor %}

  <script>
	function openTab_{{ include.id }}(evt, tabname) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent-{{ include.id }}");
		for (i = 0; i < tabcontent.length; i++) {
		    tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks-{{ include.id }}");
		for (i = 0; i < tablinks.length; i++) {
		    tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tabname).style.display = "block";
		evt.currentTarget.className += " active";
	}
	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen-{{ include.id }}").click();
  </script>