  <div id="code-tab-{{ include.id }}" class="tab code-tab">
	{% assign i = 0 %}
	{% for tabname in include.tabs %}
		{% if include.headings[i] %}
			{% assign tabtitle = include.headings[i] %}
		{% else %}
		    {% assign tabtitle = tabname | capitalize %}
		{% endif %}
		<button class="tablinks tablinks-{{ tabname }}" onclick="openTab{{include.id | replace: '-', '_'}}(event, '{{tabname}}');" id="defaultOpen-{{ include.id }}-{{tabname}}">{{tabtitle}}</button>
		{% assign i = i | plus:1 %}
	{% endfor %}
  </div>

  {% for tabname in include.tabs %}
  <div id='{{tabname}}-{{ include.id }}' class="tabcontent tabcontent-{{ tabname }}">
	{{ include[tabname] }}
  </div>
  {% endfor %}

  <script>
	function openTab{{include.id | replace: '-', '_'}}(evt, tabname) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent-" + tabname);
		// Set no display output for everything
		for (i = 0; i < tabcontent.length; i++) {
		    tabcontent[i].style.display = "none";
		}

		// Activate the tabs that we need to activate
		all_tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < all_tablinks.length; i++) {
			if (all_tablinks[i].classList.contains("tablinks-" + tabname)) {
				all_tablinks[i].classList.add("active");
			} else {
				all_tablinks[i].classList.remove("active");
			}
		}

		all_tablinks = document.getElementsByClassName("tabcontent");
		for (i = 0; i < all_tablinks.length; i++) {
			if (all_tablinks[i].classList.contains("tabcontent-" + tabname)) {
				all_tablinks[i].style.display = "block";
			} else {
				all_tablinks[i].style.display = "none";
			}
		}

		// document.getElementById(tabname + "-{{ include.id }}").style.display = "block";
		if (evt) {
		    window.location.href = '#code-tab-{{ include.id }}';
		}
	}
	// Get the first tab in the tab list and select that one
	openTab{{include.id | replace: '-', '_'}}(null, "{{include.tabs[0]}}");
  </script>