<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-831873-16');
	</script>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
		content="OpenMAMA High Performance Middleware Agnostic Messaging API.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
	<!-- Site Title  -->
	<title>OpenMAMA | {{ site.title }}</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor.bundle.css?ver=100">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?ver=100">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css?ver=100">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fruity.css?ver=100">
</head>

<body data-spy="scroll" data-target="#mainnav" data-offset="80" class="aster">