{% include wrap-top.html %}
    {% include header-area.html %}
	<div>
		<div class="header-content">
			<div class="container">
				<div class="row align-items-center justify-content-between">

					<div class="col-lg-4 text-center text-lg-left order-last order-lg-first">
						<div class="header-text">
							<h1 class="sec-title-xl">High Performance Messaging and Market Data API</h1>
							<p class="lead">
								Unlocking the raw performance and scalability of Market Data systems
								for both proprietary and Open Source messaging solutions via a single API
								with bindings for C, C++, C# and Java.
							</p>
							<a href="#" class="btn-lg btn-custom ">Latest Release 6.3.0</a>
						</div>
					</div> <!-- col -->
					<div class="col-lg-7">
						<div class="header-img sec-img">
							<script
								id="asciicast-Z1k5Nz7VGe4ypH4oP7FvvELtL"
								src="https://asciinema.org/a/Z1k5Nz7VGe4ypH4oP7FvvELtL.js"
								async
								data-loop="true"
								data-autoplay="true"
								data-size="small">
							</script>
						</div>
					</div> <!-- col -->
				</div> <!-- row -->
			</div> <!-- Container -->
		</div> <!-- header-content -->
	</div>

	<!-- PARTNER STARTS -->
	<div class="partner section-pad-xs">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-md-12">
					<div class="partner-content">
						<h5 class="sec-title-sm">
							OpenMAMA is an open source project that provides a high performance middleware agnostic
							messaging API that interfaces with a variety of message oriented middleware systems.
						</h5>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-center pt">
				<div class="col-lg-6 text-center">
					<div class="sec-heading">
						<h2 class="sec-title-lg">Steering Committee</h2>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-center text-center">
				<div class="col-md-12">
					<div class="partner-content">
						<h5 class="sec-title-sm">
							OpenMAMA is backed and governed by a steering committee of industry leaders including both
							enterprise users and world class vendors.
						</h5>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-center text-center">
				<div class="col-md-12">
					<div class="partner-content">
						<ul class="partner-list mb--x2">
							<li><img src="images/logos/jpmorgan.png" alt="JP Morgan"></li>
							<li><img src="images/logos/db.png" alt="Deutsche Bank"></li>
							<li><img src="images/logos/vela.png" alt="Vela"></li>
							<li><img src="images/logos/tick42.png" alt="Tick42"></li>
							<li><img src="images/logos/arcontech.png" alt="Arcontech"></li>
							<li><img src="images/logos/solace.png" alt="Solace"></li>
						</ul>
					</div>
				</div> <!-- col -->

			</div> <!-- row -->
		</div> <!-- container -->
	</div>
	<!-- PARTNER ENDS -->

	<!-- COMPATIBLE TECHNOLOGIES STARTS -->
	<div class="partner">
		<div class="container">
			<div class="row justify-content-center pt">
				<div class="col-lg-6 text-center">
					<div class="sec-heading">
						<h2 class="sec-title-lg">Compatible Technologies</h2>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-center text-center">
				<div class="col-md-12">
					<div class="partner-content">
						<h5 class="sec-title-sm">
							OpenMAMA's greatest strength is its interoperability with both proprietary and Open Source
							APIs using the same open interface.
						</h5>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->
			<div class="row justify-content-center text-center">
				<div class="col-md-12">
					<div class="partner-content">
						<ul class="partner-list mb--x2">
							<li><img src="images/logos/actant.png" alt="Deutsche Bank"></li>
							<li><img src="images/logos/onetick.png" alt="Vela"></li>
							<li><img src="images/logos/flextrade.jpg" alt="Tick42"></li>
							<li><img src="images/logos/itrs.png" alt="Arcontech"></li>
							<li><img src="images/logos/activ.jpg" alt="Solace"></li>
							<li><img src="images/logos/mdx.png" alt="Solace"></li>
							<li><img src="images/logos/metafluent.png" alt="Solace"></li>
							<li><img src="images/logos/qpid.png" alt="Solace"></li>
							<li><img src="images/logos/rai.jpg" alt="Solace"></li>
							<li><img src="images/logos/fixnetix.png" alt="Solace"></li>
							<li><img src="images/logos/redline.png" alt="Solace"></li>
							<li><img src="images/logos/0mq.gif" alt="Solace"></li>
						</ul>
					</div>
				</div> <!-- col -->

			</div> <!-- row -->
		</div> <!-- container -->
	</div>
	<!-- COMPATIBLE TECHNOLOGIES ENDS -->

	<!--   WHY THIS STARTS  -->
	<div class="why-this section-pad-lg section-pad nopb" id="about">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="sec-heading">
						<h2 class="sec-title-lg">Why OpenMAMA?</h2>
						<p class="lead">
							OpenMAMA is a specialist High Performance, Low Latency API which provides standard
							interfaces into a variety of platforms using C, C++, Java and C# APIs.
						</p>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->

			<div class="row justify-content-center text-center">

				<div class="col-lg-4 col-md-6">
					<div class="why-box">
						<div class="why-img">
							<img src="images/why-icon-a.png" alt="why-us">
						</div>
						<h2>High Performance</h2>
						<p>
							Market data workloads demand high throughput and low latency. OpenMAMA allows you to
							leverage the performance of the underlying technology via a standard interface without
							sacrificing performance.
						</p>
					</div>
				</div> <!-- col -->

				<div class="col-lg-4 col-md-6">
					<div class="why-box">
						<div class="why-img">
							<img src="images/why-icon-b.png" alt="why-us">
						</div>
						<h2>Standard API</h2>
						<p>
							The OpenMAMA API is simple and easy to understand, but it unlocks connectivity to a variety
							of proprietary and Open Source platforms without any specialist coding being required.
						</p>
					</div>
				</div> <!-- col -->

				<div class="col-lg-4 col-md-6">
					<div class="why-box">
						<div class="why-img">
							<img src="images/why-icon-c.png" alt="why-us">
						</div>
						<h2>Open platform</h2>
						<p>
							OpenMAMA is an open platform and new underlying technologies are being added all the time.
							You can even add your own to interface to the platform and the OpenMAMA community
							will help you!
						</p>
					</div>
				</div> <!-- col -->

			</div> <!-- row -->
		</div> <!-- Container -->
	</div>
	<!--   WHY THIS ENDS  -->

	<!--  CONFIG STARTS  -->
	<div class="config section-pad-xl section-pad nopb">
		<div class="config-shape">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 750.6 859">
				<path d="M0,0v44.5c0,0,58-29,100-39s82-5,107,12s47,38,99,49s157,18,205,21s127,12,171,32s51,64,60,108s2,152-32,225
                s-87,132-172,164s-115,51-165,93s-114,104-166,131s-128,32-207-38V859h1920V0H0z" />
			</svg>
		</div>
		<div class="container">
			<div class="row justify-content-between align-items-center">

				<div class="col-md-6">
					<div class="config-img sec-img">
						<img src="images/logos/openmama_transparent_black.png" alt="config">
					</div>
				</div> <!-- col -->

				<div class="col-md-5 text-center text-md-left">
					<div class="text-block">
						<h2 class="sec-title-lg sec-title-md">Plug and Play.<br class="d-none d-md-block">No Recompile.</h2>
						<p class="lead">
							Switching underlying technologies is as easy as adding the underlying bridge library to the
							deployment, and updating configuration. No code changes are required to the OpenMAMA application
							at all.
						</p>
						<p class="lead">
							Write your application once, and automatically support every OpenMAMA platform available
							both now and in the future as new technologies are added.
						</p>
					</div>
				</div> <!-- col -->

			</div> <!-- row -->
		</div> <!-- Container -->
	</div>
	<!--  CONFIG ENDS  -->

	<!--  TOOLS STARTS -->
	<div class="section-pad-lg">
		<div class="container">
			<div class="row justify-content-between align-items-center">

				<div class="col-md-6">
					<div class="sec-img">
						<img src="images/industrystandard.png" alt="tools">
					</div>
				</div> <!-- col -->
				<div class="col-md-5 text-center text-md-right order-last order-md-first">
					<div class="text-block">
						<h2 class="sec-title-lg sec-title-md">Industry Standard.</h2>
						<p class="lead">
							OpenMAMA is used in Investment Banks, Proprietary Trading companies, Hedge Funds and
							data providers. It is used in both algorithmic trading applications and throughout the
							tiers of a typical Market Data Distribution or web distribution platform.
						</p>
						<p class="lead">
							It requires no additional software to run in the target environment and has an API which
							will be familiar to a large portion of Software Developers in the field
						</p>
					</div>
				</div> <!-- col -->

			</div> <!-- row -->
		</div> <!-- Container -->
	</div>
	<!--  TOOLS ENDS -->

	<!--  FEATURE STARTS -->

	<div class="feature section-pad nopb" id="feature">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="sec-heading">
						<h2 class="sec-title-lg black-title">More features</h2>
						<p class="lead">
							OpenMAMA isn't just a connectivity API. It also contains extensive domain specific functionality.
						</p>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->

			<div class="feature-content">
				<div class="row mtn-x2">
					{% for feature in site.data.home.features %}
					<div class="col-md-6 col-lg-3">
						<div class="feature-item">
							<img src="{{ feature.icon }}" alt="feature-icon">
							<h2>{{ feature.title }}</h2>
							<p>{{ feature.summary }}</p>
						</div>
					</div> <!-- col -->
					{% endfor %}
				</div> <!-- row -->
			</div> <!-- feature-content -->

		</div> <!-- Container -->
	</div>
	<!--  FEATURE ENDS -->

	<!-- TESTIMONIAL STARTS -->

	<div class="testimonial section-pad-lg section-pad nopb mtn-x2" style="display: none;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="sec-heading">
						<h2 class="sec-title-lg">What do our users say?</h2>
					</div>
				</div> <!-- col -->
			</div> <!-- row -->

			<div class="testimonial-content">
				<div class="row justify-content-center text-center">

					<div class="col-lg-4 col-md-6">
						<div class="testimonial-item">
							<div class="testimonial-box">
								<blockquote>OpenMAMA is awesome.</blockquote>
							</div>
							<div class="testimonial-client">
								<div class="testimonial-client-img">
									<img src="images/client-a.jpg" alt="client">
								</div>
								<div class="testimonial-client-details">
									<h6><span class="client-name">Smith</span> <span>Money inc</span></h6>
								</div>
							</div>
						</div>
					</div> <!-- col -->

					<div class="col-lg-4 col-md-6">
						<div class="testimonial-item">
							<div class="testimonial-box">
								<blockquote>OpenMAMA is fab.</blockquote>
							</div>
							<div class="testimonial-client">
								<div class="testimonial-client-img">
									<img src="images/client-a.jpg" alt="client">
								</div>
								<div class="testimonial-client-details">
									<h6> <span class="client-name">William muth</span><span>FX inc</span></h6>
								</div>
							</div>
						</div>
					</div> <!-- col -->

					<div class="col-lg-4 col-md-6">
						<div class="testimonial-item">
							<div class="testimonial-box">
								<blockquote>OpenMAMA is epic.</blockquote>
							</div>
							<div class="testimonial-client">
								<div class="testimonial-client-img">
									<img src="images/client-a.jpg" alt="client">
								</div>
								<div class="testimonial-client-details">
									<h6><span class="client-name">Stuart grill</span><span>Vendor inc</span></h6>
								</div>
							</div>
						</div>
					</div> <!-- col -->

				</div> <!-- row -->
			</div> <!-- testimonial-content -->
		</div> <!-- Container -->
	</div>
	<!-- TESTIMONIAL ENDS -->

	<!-- CALL TO ACTION STARTS -->
	<div class="cta section-pad-sm section-pad nopb">
		<div class="container">

			<div class="cta-box">
				<div class="row align-items-center justify-content-between">
					<div class="col-md-7">
						<h2 class="cta-header">Seen enough? Want to give it a try?</h2>
					</div>
					<div class="col-md-4">
						<div class="cta-btn">
							<a href="quickstart.html" class="btn-lg">Get Started</a>
						</div>
					</div>
				</div> <!-- row -->
			</div> <!-- cta-box -->

		</div> <!-- Container -->
	</div>
	<!-- CALL TO ACTION ENDS -->

	{% include footer.html %}

{% include wrap-bottom.html %}
